body{
    margin: 0px;
}

.bar{
    background-color: rgb(50, 48, 48);
    margin-top: -15px;
}

.footer{
    background-color: rgb(50, 48, 48);
}

.cardSyle{
    padding: 1px;
    margin: 15px;
    width: 95%;
}

.Jumbo{
    background-color: rgb(237, 234, 234);
    margin: 15px;
    padding: 10px;
}